In [3]:
from faker import Faker
import random

In [14]:
n = 10
fake = Faker()

for i in range(n):
    gender = random.choice(['M', 'F'])
    major = random.choice(['AA', 'BI', 'ME', 'CS', 'MA', 'MD',
                          'PS', 'EC', 'BU', 'PH', 'DE', 'LA',
                          'HI', 'MU', 'PE', 'CU', 'PO', 'LW', 'RS'])
    
    if gender == 'M':
        first_name = fake.first_name_male()
        last_name = fake.last_name_male()
    else:
        first_name = fake.first_name_female()
        last_name = fake.last_name_female()
    
    birthdate = fake.date()
    while int(birthdate[:4]) > 2005:
        birthdate = fake.date()
        
    street_address = fake.street_address()
    city = fake.city()
    phonenumber = fake.msisdn()
    
    rand_num = str(random.randint(100, 99999))
    studid = str(random.randint(2015, 2022) - 1700) + major + '0'*(5-len(rand_num)) + rand_num
    
    print('INSERT INTO students VALUES ({}, {}, {}, {}, {}, {}, {}, {}, {});'.format(studid, first_name, last_name, gender, birthdate, street_address, city, phonenumber, major))

INSERT INTO students VALUES (321LW43263, Cassandra, Herrera, F, 1972-09-06, 573 Mark Stream Suite 325, Harmonburgh, 2040812105961, LW);
INSERT INTO students VALUES (318LW36115, Reginald, Herman, M, 1979-04-06, 43914 Ayers Corners Apt. 478, Port Sharonside, 5045653641910, LW);
INSERT INTO students VALUES (318ME34127, Paula, Reynolds, F, 1986-12-20, 1769 Nancy Avenue Apt. 565, Moralesfort, 9632892049833, ME);
INSERT INTO students VALUES (317PH30434, Thomas, Sparks, M, 1982-05-04, 67944 Michael Knolls Suite 304, New Dawnchester, 5968044838376, PH);
INSERT INTO students VALUES (318HI38916, Chad, Jones, M, 2003-07-27, 863 David Heights Suite 956, Johnville, 4337906635781, HI);
INSERT INTO students VALUES (320LW56420, Daniel, Bernard, M, 1987-03-01, 445 Hopkins Vista, Baldwinshire, 0248500315601, LW);
INSERT INTO students VALUES (318DE52541, Bryan, Lawrence, M, 1998-01-01, 000 Lisa Crest Apt. 977, West Antonio, 7391041328642, DE);
INSERT INTO students VALUES (322PH99047, Roberto, Cortez, M, 1972-02-13, 7239 Mitchell Lock, Valeriechester, 5654682919602, PH);
INSERT INTO students VALUES (320ME00826, Theresa, Vargas, F, 1972-09-01, 64970 Daniel Lock Suite 607, Lake Curtis, 3047120653552, ME);
INSERT INTO students VALUES (320LA95470, Brian, Stewart, M, 1984-03-11, 08335 Abigail Corners, Millerberg, 0196433530093, LA);

'2021-06-26'